.CPanel-panel{
    color: grey;
    background-color:lightgrey;
    border-color: black;
    border-width: -5px;
    border-style: double;
    border-radius: 5px;
}
.CPanel-title{
    color: black;
    background-color: darkgrey;
    border-style: dashed;
    border-width: 3px;
}
.CPanel-body{
    color: black;
    background-color: lightgrey;
}